
<section data-name="<?js= name ?>">

<!--
<header>
    <?js if (children.length > 0) { ?>
    <ul><?js
        var self = this;
        children.forEach(function(t) { ?>
        <li><?js= self.tutoriallink(t.name) ?></li>
    <?js }); ?></ul>
    <?js } ?>

    <h2><?js= header ?></h2>
</header>
-->

<article>
    <?js= content ?>
</article>

<span class="pageLinks"> 
    <a href="tutorial-<?js= prev?.longname ?>.html"><?js= prev?.name ? `&lt&lt ${prev.title}` : "" ?></a>
    <a href="tutorial-<?js= next?.longname ?>.html"><?js= next ? `${next.title} &gt&gt` : "" ?></a>
</span>

</section>
 