html,
html[theme="light"] {
    --c-highlight: #289c8b;
    --c-info: var(--c-highlight);
    --c-warn: #fdc921;
    --c-bug: #9c2828;
    --c-fg: #4d4e53;
    --c-bg: #fff;
    --c-fg-code: #4d4e53;
    --c-bg-code: #fff;
    --c-border: #ccc;
    --c-link: var(--c-highlight);
    --c-disabled: #454545;
    --c-important: #950B02;
    --c-bg-dark: #ddd;
    --c-signature: #aaa;
    --c-attribs: #999;
}

html[theme="dark"] {
    --c-highlight: #32ccb5;
    --c-fg: #ededed;
    --c-bg: #2f2f2f;
    --c-fg-code: #ffffff;
    --c-bg-code: #2b2b2b;
    --c-border: #4d4d4d;
    --c-disabled: #585858;
    --c-bg-dark: #232323;
    --c-signature: #757575;
    --c-attribs: #6d6d6d;
}

html {
    overflow: auto;
    background-color: var(--c-bg);
    font-size: 14px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: var(--c-fg);
    background-color: var(--c-highlight);
    margin: 0px;
}

.view {
    position: absolute;
    background-color: var(--c-bg);
    /* display: flex;
    flex-wrap: wrap; */
}

a,
a:visited,
a:active {
    color: var(--c-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: block;
    padding: 0px 4px;
}

tt,
code,
kbd,
samp {
    font-family: monospace;
}

.class-description {
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.class-description:empty {
    margin: 0;
}

article img {
    max-width: 100%;
}

section {
    display: block;
    background-color: var(--c-bg);
    padding: 12px 24px;
    border-bottom: 1px solid var(--c-border);
}

.variation {
    display: none;
}

.signature-attributes {
    font-size: 60%;
    color: var(--c-attribs);
    font-style: italic;
    font-weight: lighter;
}

#main {
    margin-left: 300px;
}

nav {
    position: fixed;
    width: 300px;
    box-sizing: border-box;
    padding: 2rem 4rem 0px 2rem;
    background-color: var(--c-bg-dark);
    height: 100vh;
}

nav ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul a,
nav ul a:visited,
nav ul a:active {
    font-family: monospace;
    line-height: 18px;
    color: var(--c-fg);
}

nav h3 {
    margin-top: 12px;
}

nav li {
    margin-top: 6px;
}

footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

h1,
h2,
h3,
h4 {
    font-weight: 200;
    margin: 0;
}

h1 {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 48px;
    letter-spacing: -2px;
    margin: 12px 24px 20px;
}

h2,
h3.subsection-title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 12px;
}

h3 {
    font-size: 24px;
    letter-spacing: -0.5px;
    margin-bottom: 12px;
}

h4 {
    font-size: 18px;
    letter-spacing: -0.33px;
    margin-bottom: 12px;
    color: var(--c-fg);
}

h5,
.container-overview .subsection-title {
    font-size: 120%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 8px 0 3px 0;
}

h6 {
    font-size: 100%;
    letter-spacing: -0.01em;
    margin: 6px 0 3px 0;
    font-style: italic;
}

table {
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid var(--c-bg-dark);
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

thead tr {
    background-color: var(--c-bg-dark);
    font-weight: bold;
}


.ancestors,
.attribs {
    color: var(--c-attribs);
}

.ancestors a,
.attribs a {
    color: var(--c-attribs) !important;
    text-decoration: none;
}

.clear {
    clear: both;
}

.important {
    font-weight: bold;
    color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: var(--c-signature);
}

.name,
.signature {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.details {
    /* margin-top: 14px; */
    border-left: 2px solid var(--c-bg-dark);
}

.details dt {
    width: 120px;
    float: left;
    padding-left: 10px;
    padding-top: 6px;
}

.details dd {
    margin-left: 70px;
}

.details ul {
    margin: 0;
}

.details ul {
    list-style-type: none;
}

.details li {
    margin-left: 30px;
    padding-top: 6px;
}

.details pre.prettyprint {
    margin: 0
}

.details .object-value {
    padding-top: 0;
}

.description {
    margin-bottom: 1em;
    margin-top: 1em;
}

.code-caption {
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

.source {
    border: 1px solid var(--c-bg-dark);
    width: calc(100vw - 300px - 4rem);
    overflow: scroll;
}

.source code {
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: var(--c-bg-code);
    color: var(--c-fg-code);
}

.prettyprint code span.line {
    display: inline-block;
}

.prettyprint.linenums {
    padding-left: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prettyprint.linenums ol {
    padding-left: 0;
}

.prettyprint.linenums li {
    border-left: 3px var(--c-bg-dark) solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
    background-color: lightyellow;
}

.prettyprint.linenums li * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.params .name,
.props .name,
.name code {
    color: var(--c-fg);
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 100%;
}

.params td.description>p:first-child,
.props td.description>p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.params td.description>p:last-child,
.props td.description>p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.disabled {
    color: var(--c-disabled);
}

.note {
    margin: 0.5rem 0px;
    display: block;
    padding: 0.25rem 1rem;
    border-left: 4px solid var(--c-fg);
}

.note.info {
    border-color: var(--c-info);
}

.note.warn {
    border-color: var(--c-warn);
}

.note.bug {
    border-color: var(--c-bug);
}

.split-line {
    margin: 1rem 0px;
    display: block;
    border-bottom: 1px solid var(--c-bg-dark);
}

.hidden {
    display: none;
}

input#search {
    width: calc(300px - 4rem);
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    outline: var(--c-highlight);
    border: none;
}